---
export const prerender = true;
import Base from '../../layouts/BaseLayout.astro';
import { H1, Text, BlogPostPreview, Page } from '../../components';
import { getLatestPosts } from '../../lib/content';
const description = `A collection of my random musings; usually centered around frontend topics. Join me as I explore new technologies, share my experiences, and learn from others.`;
const { posts, tagMap, postsByTag } = await getLatestPosts();
---
<Base title="Blog" description={description}>
  <Page client:load>
    <article class="border-l border-r border-stone-200 dark:border-zinc-800 w-full">
      {/* Header Section */}
      <header
        class="w-full border-b border-stone-200 dark:border-zinc-800 hidden md:flex divide-x divide-stone-200 dark:divide-zinc-800"
      >
        <div class="flex-1 p-8 md:p-16"></div>
        <div class="max-w-4xl w-full p-8 md:p-16 space-y-6">
          <h1 class="text-4xl md:text-5xl font-scp font-bold tracking-tight leading-tight text-zinc-900 dark:text-zinc-50">writing</h1>
          <Text>{description}</Text>
        </div>
        <div class="flex-1 p-8 md:p-16"></div>
      </header>

      {/* Header Section Mobile */}
      <header
        class="w-full border-b border-stone-200 dark:border-zinc-800 md:hidden p-8 space-y-6"
      >
        <h1 class="text-4xl md:text-5xl font-scp font-bold tracking-tight leading-tight text-zinc-900 dark:text-zinc-50">writing</h1>
        <Text>{description}</Text>
      </header>

      {/* Blog Posts Section */}
      <div
        class="w-full hidden md:flex flex-col space-y-0 divide-y divide-stone-200 dark:divide-zinc-800"
      >
        {posts.map((post) => (
          <div class="flex divide-x divide-stone-200 dark:divide-zinc-800">
            <div class="flex-1"></div>
            <div class="max-w-4xl w-full">
              <BlogPostPreview post={post} animate />
            </div>
            <div class="flex-1"></div>
          </div>
        ))}
      </div>

      {/* Blog Posts Section Mobile */}
      <div
        class="w-full md:hidden space-y-0 divide-y divide-stone-200 dark:divide-zinc-800"
      >
        {posts.map((post) => (<BlogPostPreview post={post} animate />))}
      </div>
    </article>
  </Page>
</Base>


